In [1]:
import pandas as pd
import datetime
import numpy as np

### Production

In [25]:
production_raw = pd.read_excel("./data/raw/raw_data.xlsx", sheet_name = "food_production")

In [26]:
# Remove irrelevant columns (not necessary for Tableau)
cols_to_remove = ["Area Code", "Area Code (M49)", "Item Code", "Item Code (CPC)", "Element Code"]
production_raw = production_raw.drop(cols_to_remove, axis = 1)

In [27]:
production_raw

,Area,Item,Element,Unit,Y1961,Y1962,Y1963,Y1964,Y1965,Y1966,...,Y2012,Y2013,Y2014,Y2015,Y2016,Y2017,Y2018,Y2019,Y2020,Y2021
0,Afghanistan,"Almonds, in shell",Area harvested,ha,NaN,NaN,NaN,NaN,NaN,NaN,...,13490.00,14114.00,13703.00,14676.00,19481.00,19793.00,20053.00,29203.00,22134.00,21685.00
1,Afghanistan,"Almonds, in shell",Yield,hg/ha,NaN,NaN,NaN,NaN,NaN,NaN,...,45960.00,29910.00,19996.00,16521.00,16859.00,13788.00,17161.00,13083.00,17759.00,18748.00
2,Afghanistan,"Almonds, in shell",Production,tonnes,NaN,NaN,NaN,NaN,NaN,NaN,...,62000.00,42215.00,27400.00,24246.00,32843.00,27291.00,34413.00,38205.00,39307.00,40655.23
3,Afghanistan,"Anise, badian, coriander, cumin, caraway, fenn...",Area harvested,ha,NaN,NaN,NaN,NaN,NaN,NaN,...,18500.00,18500.00,30000.00,25000.00,24500.00,26160.00,25220.00,27387.00,26255.00,26287.00
4,Afghanistan,"Anise, badian, coriander, cumin, caraway, fenn...",Yield,hg/ha,NaN,NaN,NaN,NaN,NaN,NaN,...,6757.00,6757.00,7167.00,7200.00,7075.00,6970.00,7866.00,6902.00,7409.00,7379.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
79292,Net Food Importing Developing Countries,"Treenuts, Total",Yield,hg/ha,6118.0,6318.0,6618.0,6492.0,6417.0,6187.0,...,5384.00,5303.00,5318.00,5422.00,5744.00,5927.00,5338.00,5346.00,5426.00,5515.00
79293,Net Food Importing Developing Countries,"Treenuts, Total",Production,tonnes,255724.0,295318.0,315667.0,349663.0,341957.0,336409.0,...,1648809.17,1810688.35,1877336.94,2189212.78,2022188.76,2299639.12,2495666.54,2314274.21,2479586.92,2498539.75
79294,Net Food Importing Developing Countries,Vegetables Primary,Area harvested,ha,1877800.0,1925219.0,1992435.0,2054949.0,2039738.0,2138112.0,...,6574958.00,6695517.00,6957204.00,7286193.00,7228932.00,7217374.00,7429029.00,7543355.00,7710160.00,7978161.00
79295,Net Food Importing Developing Countries,Vegetables Primary,Yield,hg/ha,66297.0,67612.0,68080.0,69544.0,71377.0,72030.0,...,115066.00,113789.00,115754.00,115312.00,115667.00,116623.00,116194.00,117830.00,117831.00,117360.00
79296,Net Food Importing Developing Countries,Vegetables Primary,Production,tonnes,12449173.0,13016875.0,13564405.0,14290967.0,14559064.0,15400719.0,...,75655410.81,76187906.76,80532247.13,84018273.77,83614537.01,84171473.81,86320503.75,88883639.40,90849506.59,93631442.78

In [28]:
# Convert dataframe to long format
id_cols = list(production_raw.columns[:4])
# We only take years 1992 - 2020
year_cols = list(production_raw.columns[-30:-2])
production_raw = production_raw.melt(id_vars = id_cols, value_vars=year_cols)

In [29]:
# Change column names
production_raw = production_raw.rename(mapper={"variable": "Year", "value": "value"}, axis = 1)
# Change format of Year column to int
production_raw["Year"] = pd.to_datetime(production_raw["Year"].apply(lambda x: x[1:]))

In [30]:
production_raw

,Area,Item,Element,Unit,Year,value
0,Afghanistan,"Almonds, in shell",Area harvested,ha,1992-01-01,5500.00
1,Afghanistan,"Almonds, in shell",Yield,hg/ha,1992-01-01,18000.00
2,Afghanistan,"Almonds, in shell",Production,tonnes,1992-01-01,9900.00
3,Afghanistan,"Anise, badian, coriander, cumin, caraway, fenn...",Area harvested,ha,1992-01-01,700.00
4,Afghanistan,"Anise, badian, coriander, cumin, caraway, fenn...",Yield,hg/ha,1992-01-01,7143.00
...,...,...,...,...,...,...
2220311,Net Food Importing Developing Countries,"Treenuts, Total",Yield,hg/ha,2019-01-01,5346.00
2220312,Net Food Importing Developing Countries,"Treenuts, Total",Production,tonnes,2019-01-01,2314274.21
2220313,Net Food Importing Developing Countries,Vegetables Primary,Area harvested,ha,2019-01-01,7543355.00
2220314,Net Food Importing Developing Countries,Vegetables Primary,Yield,hg/ha,2019-01-01,117830.00
2220315,Net Food Importing Developing Countries,Vegetables Primary,Production,tonnes,2019-01-01,88883639.40

In [17]:
production_raw.Area.unique()

array(['Afghanistan', 'Albania', 'Algeria', 'Angola',
       'Antigua and Barbuda', 'Argentina', 'Armenia', 'Australia',
       'Austria', 'Azerbaijan', 'Bahamas', 'Bahrain', 'Bangladesh',
       'Barbados', 'Belarus', 'Belgium', 'Belgium-Luxembourg', 'Belize',
       'Benin', 'Bhutan', 'Bolivia', 'Bosnia and Herzegovina', 'Botswana',
       'Brazil', 'Brunei Darussalam', 'Bulgaria', 'Burkina Faso',
       'Burundi', 'Cape Verde', 'Cambodia', 'Cameroon', 'Canada',
       'Central African Republic', 'Chad', 'Chile', 'China',
       'China, Hong Kong SAR', 'China, Macao SAR', 'China, mainland',
       'China, Taiwan Province of', 'Colombia', 'Comoros',
       'Republic of Congo', 'Cook Islands', 'Costa Rica', "Côte d'Ivoire",
       'Croatia', 'Cuba', 'Cyprus', 'Czech Republic', 'Czechoslovakia',
       'North Korea', 'Democratic Republic of the Congo', 'Denmark',
       'Djibouti', 'Dominica', 'Dominican Republic', 'Ecuador', 'Egypt',
       'El Salvador', 'Equatorial Guinea', 'Eritrea', 'Estonia',
       'Eswatini', 'Ethiopia', 'Faroe Islands', 'Fiji', 'Finland',
       'France', 'French Guiana', 'French Polynesia', 'Gabon', 'Gambia',
       'Georgia', 'Germany', 'Ghana', 'Greece', 'Grenada', 'Guadeloupe',
       'Guatemala', 'Guinea', 'Guinea-Bissau', 'Guyana', 'Haiti',
       'Honduras', 'Hungary', 'Iceland', 'India', 'Indonesia', 'Iran',
       'Iraq', 'Ireland', 'Israel', 'Italy', 'Jamaica', 'Japan', 'Jordan',
       'Kazakhstan', 'Kenya', 'Kiribati', 'Kuwait', 'Kyrgyzstan', 'Laos',
       'Latvia', 'Lebanon', 'Lesotho', 'Liberia', 'Libya', 'Lithuania',
       'Luxembourg', 'Madagascar', 'Malawi', 'Malaysia', 'Maldives',
       'Mali', 'Malta', 'Marshall Islands', 'Martinique', 'Mauritania',
       'Mauritius', 'Mexico', 'Micronesia', 'Mongolia', 'Montenegro',
       'Morocco', 'Mozambique', 'Myanmar', 'Namibia', 'Nauru', 'Nepal',
       'Netherlands', 'New Caledonia', 'New Zealand', 'Nicaragua',
       'Niger', 'Nigeria', 'Niue', 'Macedonia', 'Norway', 'Oman',
       'Pakistan', 'Palestine', 'Panama', 'Papua New Guinea', 'Paraguay',
       'Peru', 'Philippines', 'Poland', 'Portugal', 'Puerto Rico',
       'Qatar', 'South Korea', 'Moldova', 'RÈunion', 'Romania', 'Russia',
       'Rwanda', 'Saint Kitts and Nevis', 'Saint Lucia',
       'Saint Vincent and the Grenadines', 'Samoa',
       'Sao Tome and Principe', 'Saudi Arabia', 'Senegal', 'Serbia',
       'Serbia and Montenegro', 'Seychelles', 'Sierra Leone', 'Singapore',
       'Slovakia', 'Slovenia', 'Solomon Islands', 'Somalia',
       'South Africa', 'South Sudan', 'Spain', 'Sri Lanka', 'Sudan',
       'Sudan (former)', 'Suriname', 'Sweden', 'Switzerland', 'Syria',
       'Tajikistan', 'Thailand', 'Timor-Leste', 'Togo', 'Tokelau',
       'Tonga', 'Trinidad and Tobago', 'Tunisia', 'Turkey',
       'Turkmenistan', 'Tuvalu', 'Uganda', 'Ukraine',
       'United Arab Emirates', 'United Kingdom', 'Tanzania',
       'United States', 'Uruguay', 'USSR', 'Uzbekistan', 'Vanuatu',
       'Venezuela', 'Vietnam', 'Yemen', 'Yugoslav SFR', 'Zambia',
       'Zimbabwe', 'World', 'Africa', 'Eastern Africa', 'Middle Africa',
       'Northern Africa', 'Southern Africa', 'Western Africa', 'Americas',
       'Northern America', 'Central America', 'Caribbean',
       'South America', 'Asia', 'Central Asia', 'Eastern Asia',
       'Southern Asia', 'South-eastern Asia', 'Western Asia', 'Europe',
       'Eastern Europe', 'Northern Europe', 'Southern Europe',
       'Western Europe', 'Oceania', 'Australia and New Zealand',
       'Melanesia', 'Polynesia', 'European Union (27)',
       'Least Developed Countries', 'Land Locked Developing Countries',
       'Small Island Developing States',
       'Low Income Food Deficit Countries',
       'Net Food Importing Developing Countries'], dtype=object)

In [140]:
list(filter(lambda x: x not in list(emissions_raw.Country.unique()), list(production_raw.Area.unique())))

['Belgium-Luxembourg',
 'Bolivia (Plurinational State of)',
 'Brunei Darussalam',
 'China, Hong Kong SAR',
 'China, Macao SAR',
 'China, mainland',
 'China, Taiwan Province of',
 'Congo',
 'Czechoslovakia',
 'Faroe Islands',
 'French Guiana',
 'French Polynesia',
 'Guadeloupe',
 'Martinique',
 'New Caledonia',
 'Palestine',
 'Puerto Rico',
 'RÈunion',
 'Serbia and Montenegro',
 'Sudan (former)',
 'Tokelau',
 'USSR',
 'Yugoslav SFR',
 'Africa',
 'Eastern Africa',
 'Middle Africa',
 'Northern Africa',
 'Southern Africa',
 'Western Africa',
 'Americas',
 'Northern America',
 'Central America',
 'Caribbean',
 'South America',
 'Asia',
 'Central Asia',
 'Eastern Asia',
 'Southern Asia',
 'South-eastern Asia',
 'Western Asia',
 'Europe',
 'Eastern Europe',
 'Northern Europe',
 'Southern Europe',
 'Western Europe',
 'Oceania',
 'Australia and New Zealand',
 'Melanesia',
 'Polynesia',
 'Least Developed Countries',
 'Land Locked Developing Countries',
 'Small Island Developing States',
 'Low Income Food Deficit Countries',
 'Net Food Importing Developing Countries']

In [31]:
production_raw["Area"] = production_raw.Area.replace("United Kingdom of Great Britain and Northern Ireland", "United Kingdom")
production_raw["Area"] = production_raw.Area.replace("United States of America", "United States")
production_raw["Area"] = production_raw.Area.replace("T¸rkiye", "Turkey")
production_raw["Area"] = production_raw.Area.replace("CÙte d'Ivoire", "Côte d'Ivoire")
production_raw["Area"] = production_raw.Area.replace("Cabo Verde", "Cape Verde")
production_raw["Area"] = production_raw.Area.replace("Czechia", "Czech Republic")
production_raw["Area"] = production_raw.Area.replace("Democratic People's Republic of Korea", "North Korea")
production_raw["Area"] = production_raw.Area.replace("Ethiopia PDR", "Ethiopia")
production_raw["Area"] = production_raw.Area.replace("Iran (Islamic Republic of)", "Iran")
production_raw["Area"] = production_raw.Area.replace("Lao People's Democratic Republic", "Laos")
production_raw["Area"] = production_raw.Area.replace("Micronesia (Federated States of)", "Micronesia")
production_raw["Area"] = production_raw.Area.replace("North Macedonia", "Macedonia")
production_raw["Area"] = production_raw.Area.replace("Republic of Korea", "South Korea")
production_raw["Area"] = production_raw.Area.replace("Republic of Moldova", "Moldova")
production_raw["Area"] = production_raw.Area.replace("Russian Federation", "Russia")
production_raw["Area"] = production_raw.Area.replace("Syrian Arab Republic", "Syria")
production_raw["Area"] = production_raw.Area.replace("United Republic of Tanzania", "Tanzania")
production_raw["Area"] = production_raw.Area.replace("Venezuela (Bolivarian Republic of)", "Venezuela")
production_raw["Area"] = production_raw.Area.replace("Viet Nam", "Vietnam")
production_raw["Area"] = production_raw.Area.replace("Bolivia (Plurinational State of)", "Bolivia")
production_raw["Area"] = production_raw.Area.replace("Congo", "Republic of Congo")

In [32]:
production_raw.to_csv("./data/production.csv")

### GDP

In [34]:
gdp_raw = pd.read_excel("./data/raw/raw_data.xlsx", sheet_name = "gdp")
# Drop unwanted columns and convert to long format
cols_to_drop = ["Indicator Name", "Indicator Code"]
gdp_raw = gdp_raw.drop(cols_to_drop, axis = 1).melt(id_vars=["Country Name", "Country Code"]).rename({"value": "GDP per capita", "variable": "Year"}, axis = 1)
# Filter based on year 1992 - 2020
gdp_raw["Year"] = pd.to_datetime(gdp_raw["Year"])
start = datetime.date(1992,1,1)

end = datetime.date(2019,12,31)
gdp_raw = gdp_raw[gdp_raw.Year.between(np.datetime64(start), np.datetime64(end))]
gdp_raw = gdp_raw.reset_index(drop = True)

In [154]:
list(filter(lambda x: x not in list(production_raw.Area.unique()), list(gdp_raw["Country Name"].unique())))

['Aruba',
 'Africa Eastern and Southern',
 'Africa Western and Central',
 'Andorra',
 'Arab World',
 'American Samoa',
 'Bahamas, The',
 'Bermuda',
 'Central Europe and the Baltics',
 'Channel Islands',
 "Cote d'Ivoire",
 'Congo, Dem. Rep.',
 'Congo, Rep.',
 'Cabo Verde',
 'Caribbean small states',
 'Curacao',
 'Cayman Islands',
 'Czechia',
 'East Asia & Pacific (excluding high income)',
 'Early-demographic dividend',
 'East Asia & Pacific',
 'Europe & Central Asia (excluding high income)',
 'Europe & Central Asia',
 'Egypt, Arab Rep.',
 'Euro area',
 'European Union',
 'Fragile and conflict affected situations',
 'Micronesia, Fed. Sts.',
 'Gibraltar',
 'Gambia, The',
 'Greenland',
 'Guam',
 'High income',
 'Hong Kong SAR, China',
 'Heavily indebted poor countries (HIPC)',
 'IBRD only',
 'IDA & IBRD total',
 'IDA total',
 'IDA blend',
 'IDA only',
 'Isle of Man',
 'Not classified',
 'Iran, Islamic Rep.',
 'Kyrgyz Republic',
 'St. Kitts and Nevis',
 'Korea, Rep.',
 'Latin America & Caribbean (excluding high income)',
 'Lao PDR',
 'St. Lucia',
 'Latin America & Caribbean',
 'Least developed countries: UN classification',
 'Low income',
 'Liechtenstein',
 'Lower middle income',
 'Low & middle income',
 'Late-demographic dividend',
 'Macao SAR, China',
 'St. Martin (French part)',
 'Monaco',
 'Middle East & North Africa',
 'Middle income',
 'North Macedonia',
 'Middle East & North Africa (excluding high income)',
 'Northern Mariana Islands',
 'North America',
 'OECD members',
 'Other small states',
 'Palau',
 'Pre-demographic dividend',
 "Korea, Dem. People's Rep.",
 'West Bank and Gaza',
 'Pacific island small states',
 'Post-demographic dividend',
 'Russian Federation',
 'South Asia',
 'San Marino',
 'Sub-Saharan Africa (excluding high income)',
 'Sub-Saharan Africa',
 'Small states',
 'Slovak Republic',
 'Sint Maarten (Dutch part)',
 'Syrian Arab Republic',
 'Turks and Caicos Islands',
 'East Asia & Pacific (IDA & IBRD countries)',
 'Europe & Central Asia (IDA & IBRD countries)',
 'Latin America & the Caribbean (IDA & IBRD countries)',
 'Middle East & North Africa (IDA & IBRD countries)',
 'South Asia (IDA & IBRD)',
 'Sub-Saharan Africa (IDA & IBRD countries)',
 'Turkiye',
 'Upper middle income',
 'St. Vincent and the Grenadines',
 'Venezuela, RB',
 'British Virgin Islands',
 'Virgin Islands (U.S.)',
 'Kosovo',
 'Yemen, Rep.']

In [35]:
gdp_raw["Country Name"] = gdp_raw["Country Name"].replace("Bahamas, The", "Bahamas")
gdp_raw["Country Name"] = gdp_raw["Country Name"].replace("Cote d'Ivoire", "Côte d'Ivoire")
gdp_raw["Country Name"] = gdp_raw["Country Name"].replace("Congo, Dem. Rep.", "Democratic Republic of the Congo")
gdp_raw["Country Name"] = gdp_raw["Country Name"].replace("Congo, Rep.", "Republic of Congo")
gdp_raw["Country Name"] = gdp_raw["Country Name"].replace("Cabo Verde", "Cape Verde")
gdp_raw["Country Name"] = gdp_raw["Country Name"].replace("Czechia", "Czech Republic")
gdp_raw["Country Name"] = gdp_raw["Country Name"].replace("Egypt, Arab Rep.", "Egypt")
gdp_raw["Country Name"] = gdp_raw["Country Name"].replace("Micronesia, Fed. Sts.", "Micronesia")
gdp_raw["Country Name"] = gdp_raw["Country Name"].replace("Gambia, The", "Gambia")
gdp_raw["Country Name"] = gdp_raw["Country Name"].replace("Iran, Islamic Rep.", "Iran")
gdp_raw["Country Name"] = gdp_raw["Country Name"].replace("Korea, Rep.", "South Korea")
gdp_raw["Country Name"] = gdp_raw["Country Name"].replace("Lao PDR", "Laos")
gdp_raw["Country Name"] = gdp_raw["Country Name"].replace("St. Lucia", "Saint Lucia")
gdp_raw["Country Name"] = gdp_raw["Country Name"].replace("Korea, Dem. People's Rep.", "North Korea")
gdp_raw["Country Name"] = gdp_raw["Country Name"].replace("Russian Federation", "Russia")
gdp_raw["Country Name"] = gdp_raw["Country Name"].replace("Turkiye", "Turkey")
gdp_raw["Country Name"] = gdp_raw["Country Name"].replace("Venezuela, RB", "Venezuela")
gdp_raw["Country Name"] = gdp_raw["Country Name"].replace("St. Vincent and the Grenadines", "Saint Vincent and the Grenadines")
gdp_raw["Country Name"] = gdp_raw["Country Name"].replace("Yemen, Rep.", "Yemen")
gdp_raw["Country Name"] = gdp_raw["Country Name"].replace("Slovak Republic", "Slovakia")
gdp_raw["Country Name"] = gdp_raw["Country Name"].replace("Kyrgyz Republic", "Kyrgyzstan")

In [36]:
gdp_raw

                     Country Name Country Code       Year  GDP per capita
0                           Aruba          ABW 1992-01-01    13657.670644
1     Africa Eastern and Southern          AFE 1992-01-01      728.790195
2                     Afghanistan          AFG 1992-01-01             NaN
3      Africa Western and Central          AFW 1992-01-01      542.663527
4                          Angola          AGO 1992-01-01      657.653384
...                           ...          ...        ...             ...
7443                       Kosovo          XKX 2019-01-01     4416.108358
7444                        Yemen          YEM 2019-01-01             NaN
7445                 South Africa          ZAF 2019-01-01     6688.787271
7446                       Zambia          ZMB 2019-01-01     1268.120941
7447                     Zimbabwe          ZWE 2019-01-01     1421.868596

[7448 rows x 4 columns]

In [37]:
gdp_raw.to_csv("./data/gdp.csv")

### Emissions

In [40]:
emissions_raw = pd.read_excel("./data/raw/raw_data.xlsx", sheet_name = "historical_emissions")

In [41]:
cols_to_drop = ["Data source", "Sector", "Gas", "Unit"]
emissions_raw = emissions_raw.drop(cols_to_drop, axis = 1)

In [42]:
emissions_raw = emissions_raw.melt(id_vars=["Country"], var_name="Year", value_name="Emissions")
emissions_raw["Year"] = pd.to_datetime(emissions_raw.Year)

In [43]:
# Drop World and EU (not countries)
emissions_raw = emissions_raw[np.invert(emissions_raw["Country"].isin(["World", "European Union (27)"]))]

emissions_raw["Country"] = emissions_raw["Country"].replace("Türkiye", "Turkey")

In [44]:
emissions_raw.to_csv("./data/emissions.csv")

# Meat data

In [45]:
meat_raw = pd.read_excel("./data/raw/raw_data.xlsx", sheet_name = "meat_data")

In [46]:
meat_raw

,LOCATION,Country,COMMODITY,Commodity2,VARIABLE,Variable3,TIME,Time4,Unit Code,Unit,PowerCode Code,PowerCode,Reference Period Code,Reference Period,Value,Flag Codes,Flags
0,AUS,Australia,BV,Beef and veal,QP,Production,1992,1992,TONNE,Tonnes,3,Thousands,NaN,NaN,1833.84,NaN,NaN
1,AUS,Australia,BV,Beef and veal,QP,Production,1993,1993,TONNE,Tonnes,3,Thousands,NaN,NaN,1813.93,NaN,NaN
2,AUS,Australia,BV,Beef and veal,QP,Production,1994,1994,TONNE,Tonnes,3,Thousands,NaN,NaN,1845.23,NaN,NaN
3,AUS,Australia,BV,Beef and veal,QP,Production,1995,1995,TONNE,Tonnes,3,Thousands,NaN,NaN,1719.46,NaN,NaN
4,AUS,Australia,BV,Beef and veal,QP,Production,1996,1996,TONNE,Tonnes,3,Thousands,NaN,NaN,1733.83,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
92227,BRICS,BRICS,SH,Sheepmeat,FO__DFS__FAT,Food Fat availability,2015,2015,G_PERS_DAY,g/person/day,0,Units,NaN,NaN,0.81,NaN,NaN
92228,BRICS,BRICS,SH,Sheepmeat,FO__DFS__FAT,Food Fat availability,2016,2016,G_PERS_DAY,g/person/day,0,Units,NaN,NaN,0.85,NaN,NaN
92229,BRICS,BRICS,SH,Sheepmeat,FO__DFS__FAT,Food Fat availability,2017,2017,G_PERS_DAY,g/person/day,0,Units,NaN,NaN,0.87,NaN,NaN
92230,BRICS,BRICS,SH,Sheepmeat,FO__DFS__FAT,Food Fat availability,2018,2018,G_PERS_DAY,g/person/day,0,Units,NaN,NaN,0.87,NaN,NaN
92231,BRICS,BRICS,SH,Sheepmeat,FO__DFS__FAT,Food Fat availability,2019,2019,G_PERS_DAY,g/person/day,0,Units,NaN,NaN,0.88,NaN,NaN